*{
    text-transform: capitalize;margin: 0px;padding: 0px;
}
body{
    height: fit-content;overflow-x:hidden;font-family: sans-serif
}
.navback{
   position: absolute;
    width: 200%;
    top: 0px;
    left: -1260px;
    height: 500px;
    z-index: -1;
    transform: skewY(-12deg);
   background: rgb(167,109,240);
background: -moz-linear-gradient(30deg, rgba(167,109,240,1) 25%, rgba(177,118,223,1) 30%, rgba(146,217,254,1) 41%, rgba(168,110,239,1) 52%, rgba(212,149,162,1) 56%, rgba(174,116,229,1) 57%, rgba(168,110,239,1) 58%, rgba(168,110,239,1) 58%, rgba(255,203,87,1) 71%, rgba(244,175,103,1) 83%);
background: -webkit-linear-gradient(30deg, rgba(167,109,240,1) 25%, rgba(177,118,223,1) 30%, rgba(146,217,254,1) 41%, rgba(168,110,239,1) 52%, rgba(212,149,162,1) 56%, rgba(174,116,229,1) 57%, rgba(168,110,239,1) 58%, rgba(168,110,239,1) 58%, rgba(255,203,87,1) 71%, rgba(244,175,103,1) 83%);
background: linear-gradient(30deg, rgba(167,109,240,1) 25%, rgba(177,118,223,1) 30%, rgba(146,217,254,1) 41%, rgba(168,110,239,1) 52%, rgba(212,149,162,1) 56%, rgba(174,116,229,1) 57%, rgba(168,110,239,1) 58%, rgba(168,110,239,1) 58%, rgba(255,203,87,1) 71%, rgba(244,175,103,1) 83%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a76df0",endColorstr="#f4af67",GradientType=1);
}

nav{
    display: flex;justify-content: center;justify-content: space-around;width: 100%;height: 80px;align-items: center;font-weight: 10;font-family: sans-serif;font-size: 14px;color:#fff
}
.nav1{
    display: flex;justify-content: center;justify-content: space-around;width: 50%;align-items: center;;color: black;padding-left: 15px;;color:#fff
}

.nav2{
    display: flex;width: 40%;justify-content: flex-end;justify-content: space-evenly;width: 25%;align-items: center;
}
.nav1-1{
    font-size: 22px;font-weight: 900;
}
.signin{
    width: 100px;height: 30px;;border: 1px solid #fff;border-radius: 20px;display: flex;justify-content: center;align-items: center
}
.bfcontent{
    padding-left: 105px;position: relative;top: 30px
}
.bfcontent > h5{
    border: 1px solid #fff;border-radius: 20px;display: inline-block;padding:10px 15px 10px 15px;
}
.content{
    position: relative;top: 150px;padding-left:105px 
}
.content>h1{
    width: 50%;font-size: 70px;color: #1111ae;font-family: sans-serif
}
.content>h3{
    width: 37%;margin-top: 30px;font-weight: lighter;color: #222118
}
.content1{
    padding-left: 105px;display: flex;position: relative;top: 180px;align-items: center;gap: 15px;;font-weight: lighter
}
.content1>h3{font-size: 18px;border: 1px solid black;padding: 10px 15px 10px 15px;border-radius: 20px;background: #1111ae;color: #fff;;font-weight: lighter}
.content1>h4{font-size: 18px}
.mscreen{
    width: 20%;height: 500px;border: 2px solid gray;border-radius: 50px;position: absolute;right: 200px;top: 200px;box-shadow: -5px 10px 10px black
}
.mimage{width: 65px;height: 80px;border: 1px solid black;position: absolute;left: 110px;top: 50px;background-image: url(./download.jpg);background-size: cover}
.mimage1{width: 65px;height: 80px;border: 1px solid black;position: absolute;left: 80px;top: 35px;background-image: url(./hand-painted-monochromatic-terrazzo-pattern_23-2148976377.avif);background-size: cover}
.mscreencon{
    position: relative;top: 145px
}
.mscreencon>p{
    text-align: center
}
.mscreen2{
    font-size: 14px
}
.gpay{
    position: relative;top: 155px;margin: auto ;width: 90%;border:1px solid black;text-align: center;font-size: 13px;background: #171e2b;color: #fff
    ;
}
.payother{
    position: relative;top: 165px;text-align: center;font-size: 14px
}
.email{
    position: relative;top: 170px;
}
.email>p{
    margin-left: 10px;font-size: 13px
}
#email{
    width: 90%;margin: 0px 10px 0px 10px;height: 20px;box-shadow: 2px 2px 5px black;border-radius: 2px
}
.card{
    position: relative;top: 190px;margin-left: 10px;border-radius: 2px
}
.card>div{
    width: 94%;height: 20px;border: 1px solid black;margin-left: 3px;box-shadow: 2px 2px 5px black;border-radius: 2px
}
p{
    font-size: 13px
}
.detail{
    display: flex;align-items: center;border-radius: 2px
}
.country{
    position: relative;top: 200px;margin-left: 12px
}
.united{border: 1px solid black;width: 95%;box-shadow: 2px 2px 5px black;height: 20px;display: flex;align-items: center;border-radius: 2px
}
.zip{border-radius: 2px;border: 1px solid black;width: 95%;box-shadow: 2px 2px 5px black;height: 20px;display: flex;align-items: center;border-radius: 2px}
#pay{
    position: relative;top: 230px;border-radius: 2px
}
.logo-4{
    width: 100%;position: relative;top: 330px;display: flex;justify-content: space-evenly;height: 60px;;align-items: center
}
.logo-8{
    width: 100%;position: relative;top: 370px;display: flex;justify-content: space-evenly;align-items: center
}
.logo1{width: 100px;height: 50px}
    
.logo2{
width: 150px;height: 100px;
}
.logo3{width: 150px;height: 100px;

}
.logo4{
    width: 150px;height: 100px;
}
.logo5{
    width: 150px;height: 50px;
}
.logobmw{
    width: 150px;height: 100px
}
.allcontent{
    margin:500px 0px 0px 0px;width: 100%;background: #f6f9fc
}
.allcontent h3 {
    font-size: 20px;margin-left: 105px
}
.allcontent>h1{
    font-size: 50px;width: 40%;margin-top: 20px;margin-left: 105px
}
.con-1{
color: #1919ff;;    padding: 100px 0px 15px 0px
}
.con-2{
    width: 45%;margin-top: 20px;color: gray
}
.content2{
   position: relative;top: 180px
}
.con2-1{
    color:rgb(102, 94, 94);margin-bottom: 20px;
}
.con2-2{
    width: 45%;margin-top: 20px
}

.content2 h1{
    width: 40%;padding-left: 105px
}
.con2-3{
    border: 1px solid black;padding: 10px 15px 10px 15px;display: inline;border-radius: 20px;margin-left:105px;position: relative;top: 30px;background: #1919ff;color: #fff;font-weight: 500
}
.content3{
    width:50%;margin: 250px 0px 0px 105px;display:inline-block;line-height: 25px
}
.con3-1{
    margin: 30px 0px 30px 0px;
}
span{
    color: #3c3c9b
}
.content4{
    line-height: 30px
}
.con4-1{
padding-left: 105px;margin:200px 0px 20px 0px
}
.con4-2{padding-left: 105px
    
}
.con4-3{margin-top: 20px;font-weight: 400;width: 40%
    
}
.con4-4{margin: 0px 0px 0px 105px;border: 1px solid black;padding: 10px 15px 10px 15px;display: inline;border-radius: 20px;position: relative;top: 20px;background: #1919ff
    
}

.con4-5{padding-left: 105px;margin-top: 70px
    
}
.con4-6{padding-left: 105px;
    
}
.con4-7{padding-left: 105px
    
}

.con4-8{padding-left: 105px
    
}
.skewedup{
    width: 100%;height: 500px;border: 2px solid;position: absolute;background:#0a2540 ;margin-top: 350px;
}
.content5{
    width: 100%;height: 600px;margin-top: 100px;  width: 200%;background:#0a2540; position:absolute;
    top: 0px;
    /* left: -1260px; */
    height: 700px;
    
    /* transform: skew(-75deg,0deg); */
    transform: skew(-0deg,-4deg);
    position: relative;
    left: -500px;
}
.content6{
    position: relative;top: -600px;z-index: 2;
}
.content6>h1{
    margin-left: 105px;padding: 30px 0px 30px 0px;width: 35%;color: #fff
}
.con6-1{
    font-weight: bold
}
.con6-2{
    width: 55%;font-weight: bold;color: #7e8796
}
.con6{
    display: flex;margin:150px 0px 0px 105px;align-items: center;justify-content: space-between
}
.con6-3{
    width: 250px
}
.con6-4{
    width: 250px
}
.con6-5{
    width: 250px
}
.con6-6{
    width: 250px;
}
em{
    font-size: 20px;font-weight: 900;border-left: 1px solid white;padding-left: 10px ;color: #efffef
}
.con6-3 > p{
    font-size: 17px;margin-top: 20px;color: #7e8796
}
.con6-4 > p{
    font-size: 17px;margin-top: 20px;color: #7e8796
}
.con6-5 > p{
    font-size: 17px;margin-top: 20px;color: #7e8796
}
.con6-6 > p{
    font-size: 17px;margin-top: 20px;color: #7e8796
}

.content7{
    margin-top:-200px
}
.content7 > h1{margin: 0px 0px 30px 105px

}
.content7 > h3{
    width: 50%
}
.content7 > h4{
    display: inline;border: 1px solid black;margin-left: 105px;padding: 10px 15px 10px 15px;border-radius: 20px;background: #1111ae;position: relative;top: 30px
}
.rotatebox{
    width: 100px;height: 30px;position: relative;top: 218px;transform: rotate(-3deg);margin-left: -5px;;background: #7a73ff;border-bottom: 7px solid darkblue
}
.rotatebox1{
    width: 220px;margin-left: -5px;height: 30px;position: relative;top: 215px;transform: rotate(-3deg);background: #7a73ff
}
.rotatebox3{
    width: 100px;height: 30px;position: absolute;top: 645px;right: 0px;;transform: rotate(-3deg);margin-left: -5px;background: #7a73ff;border-top: 7px solid darkblue
}
.rotatebox4{
    width: 220px;margin-left: -5px;height: 30px;position: absolute;top: 618px;right:0px;transform: rotate(-3deg);background: #7a73ff
}

.content8{
    width: 150%;height: 700px;border: 2px solid black;margin-top: 200px;transform: skew(40deg,-3deg);position: relative;left: -295px;background:#0a2540 
}
.con8-1{
    position: relative;top: -650px
}
.con8-1>h1{margin: 20px 0px 0px 105px;width: 50%

}
.con8-1>h3{
    margin-top: 20px;width: 50%
}
.con8-1>h4{
    margin:20px 0px 0px 105px;padding: 10px 15px 10px 15px;border-radius: 20px;background: #1111ae;border: 1px solid black;display: inline;position: relative;top: 30px
}
.con8-2{
    margin: 130px 0px 0px 50px;display: flex;justify-content: space-evenly;line-height: 28px;align-items: center
}
.con8-2-1{
    width: 230px;
}
.con8-2-1>p{
    font-size: 15px
}
.con8-2-1>p>span{
    color: skyblue
}
.con8-2-1>p>em{
    font-size: 13px;border-color: skyblue
}
.content9{
    position: relative;top: -350px
}
.content9>h1{
    margin: 20px 0px 0px 105px;width: 50%;
}
.content9>h3{
    margin-top: 20px;width: 50%
}
.content10{
    width: 100%;;display: flex;justify-content: space-around
}
.con10-1{
    width: 35%;height: 650px;border: 1px solid black;;border-radius: 60px;background: #f6f9fc;box-shadow: 0px 20px 20px black
}
.con10-1-1 > h1{margin: 70px 60px 0px 60px

}
.con10-1-1 > h3{margin: 30px 60px 0px 60px

}
.con10-2{
    width: 35%;height: 650px;border: 1px solid black;margin-left: -30px;border-radius: 60px;background: #f6f9fc;box-shadow: 0px 20px 20px black
}
.images{
    margin: 20px 0px 0px 20px;
    ;width: 90%;
}
.button{
    position: relative;top: 30px
}
.button1{
    position: relative;top: 60px
}
#box2{
    position: relative;left: 1170px;top: 180px
}
#box3{
    position: relative;left: 1050px;top: 117px
}
footer{
    display: flex;position: relative;top: 400px;justify-content: space-around;margin-left: 30px;padding-bottom: 100px
}
.foot1>p{font-size: 17px
    
}
.foot1>p>a{
    display: flex
}
strong{
    font-size: 30px
}


a{
    display: block;text-decoration: none;line-height: 25px;color: black;font-weight: 700
}
b{
    position: absolute;bottom: 120px;left: 75px
}
.foot2 > p{
    font-weight: 900;
}
.foot3 > p{
    font-weight: 900
}
.foot4 > p{
    font-weight: 900
}